/* CATEGORY LIST */
.Category-list {
  display: flex;
  gap: 10px;
  padding: 15px 20px;
}

.category {
  padding: 6px 14px;
  border-radius: 20px;
  border: none;
  background-color: #e5e7eb;
  cursor: pointer;
  font-size: 14px;
  font-weight:bold;
  color: #1e3a8a;
}

.category:hover {
  background-color: #1e3a8a;
  color: white;
}
