/* SIDE NAVIGATION */
.side-navigation {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: #1e3a8a;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.side-navigation a {
  padding: 8px 20px;
  display: block;
  color: white;
  text-decoration: none;
}

.side-navigation a:hover {
  background-color: #2563eb;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
}
